<br>
<%= semantic_form_for(@tabletop_game, :html => { :multiport => true }) do |f| %>
  <%= f.inputs do %>
    <%= f.input :set_name %>
  <% end %>

  <br />

  <%= f.label :image %>
  <span style="padding-left:12%"><%= f.file_field :image %></span></li>

  <br />

  <fieldset class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary">
  </fieldset>
<% end %>

<br>
