<div class="col-md-9">

  <h1>Welcome to d20!</h1>

  <div id="wrapper">
    <ul class="bxslider">
      <% @announcements.each do |announcement| %>
        <li><%= image_tag(announcement.image, height: "300px") %></li>
      <% end %>
    </ul>

    <div id="bx-pager">
      <% @announcements.each do |announcement| %>
        <a data-slide-index="<%= announcement.id-1 %>" href=""><%= image_tag(announcement.image, height: '50px', width: '50px') %></a>
      <% end %>
    </div>
  </div>


  <% if @admin %>
    <div class="buttons">
      <%= link_to "New Announcement", new_announcement_path, class: "btn btn-primary" %>
    </div>
  <% end %>

</div>

<%= render partial: "events/upcoming_sidebar" %>

<script type="text/javascript">
  $(window).load(function() {
    $('.bxslider').bxSlider();
  });

  $('.bxslider').bxSlider({
    pagerCustom: '#bx-pager',
    auto: true,
    autoHover: true
  });
</script>
