<div>
  <%= image_tag("magic_the_gathering.jpg", height: '300px', width: '100%') %>
  <h2 class="imageText"><span>Magic Sets</span></h2>
</div>

<!--<h1 class="centered">Magic Sets</h1>-->

<% if @blocks != nil %>
  <% @blocks.each do |block| %>
    <h2><% block.block_name %></h2>
    <br>
    <% block.expansions.each do |expac| %>
      <%= link_to image_tag(expac.image, height: '200px', width: '200px'), {:controller => "cards", :action => "index", :expansion => expac.id} %>
      <% if @admin %>
        <%= link_to "edit", edit_expansion_path(expac.id) %>
      <% end %>

    <% end %>
    <br><br />
  <% end %>
<% end %>

<% if @admin %>
  <%= link_to 'Blocks', blocks_path %>
  <br><br />
  <%= link_to 'New Expansion', expansions_new_path %>
<% end %>
