<h1>New Expansion</h1>

<div class="col-md-6">
  <%= render 'form' %>
  <%= link_to 'View All Expansions', expansions_path %>
</div>

<div class="col-md-6">
  <p>
    Total Sets: <%= @sets.size %>
  </p>
  <div class="list-group">
  <% @sets.each do |set| %>
    <button type="button" class="list-group-item expansion-button" id="<%= set['id'] %>"><%= set['name'] %></button>
  <% end %>
  </div>
</div>
