<h1>Edit Store</h1>

<br>
<%= semantic_form_for(@store, :html => { :multiport => true }) do |f| %>
  <%= f.inputs do %>
    <%= f.input :store_address %>
    <%= f.input :store_phone %>
    <%= f.input :store_hours %>
    <%= f.input :store_email %>
    <%= f.input :store_description, :as => :text, :input_html => { :rows => 5 } %>
  <% end %>

  <br><br />

  <%= f.action :submit, as: :button, :disable_with => "Saving..." %>
<% end %>
<br>
