<div>
  <%= image_tag("clairemont_comics.jpg", height: '300px', width: '100%') %>
  <h2 class="imageText"><span>Clairemont Comics</span></h2>
</div>

<% if @store != nil %>

  <div class="centered_data">
    <%= @store.store_address %>
    <br><br />
    <%= @store.store_phone %>
    <br><br />
    <%= @store.store_hours %>
    <br><br />
    <%= @store.store_email %>
    <br><br />
    <%= @store.store_description %>
    <br><br />
  </div>

<% end %>

<% if @admin %>
  <div class="centered_data"><%= link_to "Edit this page!", stores_edit_path(@store.id), class: "btn btn-primary" %></div>
<% end %>
