<h1>Login</h1>

<div>
  <%= form_tag sessions_path do %>
    <fieldset class="form-group">
      <%= label_tag :username %>
      <%= text_field_tag :username, '', class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= label_tag :password %>
      <%= text_field_tag :hashed_password, '', class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= submit_tag "Log In", class: 'btn btn-primary' %>
    </fieldset>
  <% end %>
</div>

<%= link_to 'Create Account', new_user_path %>
