<h1>Events</h1>

<div id="events">

  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <%= calendar @date do |date| %>
    <%= date.day %>
    <ul>
      <% if @events_by_date[date] %>
        <% @events_by_date[date].each do |event| %>
          <li><%= link_to event.title, event, class: "cal-tooltip", data: {:toggle => "tooltip", placement: "right"}, 'data-original-title' => event.tooltip_desc %></li>
        <% end %>
      <% end %>

      <% if @recurring_events[date.wday] %>
        <% @recurring_events[date.wday].each do |event| %>
          <li><%= link_to event.title, event, class: "cal-tooltip", data: {:toggle => "tooltip", placement: "right"}, 'data-original-title' => event.tooltip_desc %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

</div>

<% if @admin %>
  <div id="buttons" class="col-md-12">
    <%= link_to "New Event", new_event_path, data: { no_turbolink: true }, class: "btn btn-primary pull-right" %>
  </div>
<% end %>

<%= render partial: "events/upcoming" %>
