<h1>Events</h1>

<div id="events">

  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
      <ul>
        <% @events_by_date[date].each do |event| %>
          <li><%= link_to event.title, event, class: "cal-tooltip", data: {:toggle => "tooltip", placement: "right"}, 'data-original-title' => event.description %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<div id="buttons" class="col-md-12">
  <%= link_to "New Event", new_event_path, data: { no_turbolink: true }, class: "btn btn-primary pull-right" %>
</div>

<%= render partial: "events/upcoming" %>
