<div class="centered_data">
  <h1><%= @event.title %></h1>
  <br><br />
  <%= @event.event_time %>
  <br><br />
  <%= @event.description %>
  <br><br />
  <h2>Location:</h2>
  <br><br />
  <%= @store.store_address %>
  <br>
  <%= @store.store_phone %>
  <br><br />
  <% if @admin %>
    <%= link_to 'Edit This Event', edit_event_path, class: "btn btn-primary" %>

    <%= button_to('Delete This Event', @event,
                  method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') %>
  <% end %>
</div>
