<tr>
  <% if @admin %>
    <td class="name"><%= link_to "#{game.name}", edit_game_path(game.id) %></td>
  <% else %>
    <td class="name"><%= game.name %></td>
  <% end %>
  <td class="actions text-right">


    <%= form_for order_item, remote: true, html: { class: "form-inline" } do |f| %>
      <%= f.hidden_field :game_id, value: game.id %>
      <%= f.hidden_field :quantity, value: 1 %>
      <%= f.hidden_field :unit_price, value: "0.00" %>
      <%= f.submit "Add to Cart", class: "btn btn-primary btn-xs", id: "add-to-cart" %>
    <% end %>
  </td>
</tr>
