<div>
  <%= semantic_form_for @card do |f| %>

    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :card_type %>
      <%= f.input :expansion_id, :as => :select, :collection => Hash[Expansion.all.map { |expac| [expac.set_name, expac.id] }] %>
      <%= f.input :stock, :label => "Quantity in Stock" %>
    <% end %>

    <br><br />

    <fieldset class="form-group">
      <input type="submit" value="Create Comic" class="btn btn-primary">
    </fieldset>
  <% end %>
</div>
