<h1>Cards</h1>
<h2 class="centered"><%= @expansion.set_name %></h2>
<br><br />

<table class="table">
  <thead>
    <tr>
      <th>Card Name</th>
      <th>Card Type</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.card_type %></td>
        <% if @admin %>
            <td><%= link_to "Edit", edit_card_path(card.id) %></td>
        <% end %>
      <tr>
    <% end %>
  </tbody>
</table>

<% if @admin %>
  <%= link_to "New Card", new_card_path %>
<% end %>
