<h1>Card Details</h1>

<div class="col-md-4">
  <img src="<%= @image_url %>" />
</div>

<div class="col-md-6">
  <h2><%= @card.name %></h2>
  <h3><%= @card.card_type %></h3>
  <div class="card-text">
    <%= @card_text.html_safe %>
  </div>
</div>

<div class="col-md-2 actions text-right">
  <% if @admin %>
    <%= form_for @order_item, remote: true, html: { class: "form-inline" } do |f| %>
      <%= f.hidden_field :card_id, value: @card.id %>
      <%= f.hidden_field :quantity, value: 1 %>
      <%= f.hidden_field :unit_price, value: "0.00" %>
      <%= f.submit "Add to Cart", class: "btn btn-primary btn-block", id: "add-to-cart" %>
    <% end %>
  <% end %>
</div>
