<div>

<% if @event.errors.any? %>
  <div id="error-messages" class="alert alert-danger" role="alert">
    <h3><%= pluralize(@event.errors.count, 'error') %> prevented this event from being saved:</h3>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @event, url: { action: form_action } do |f| %>

  <fieldset class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <label>Day of the Week</label><br>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <%= radio_button_tag(:day, 0) %>Sunday
      </label>
      <label class="btn btn-primary">
        <%= radio_button_tag(:day, 1) %>Monday
      </label>
      <label class="btn btn-primary">
        <%= radio_button_tag(:day, 2) %>Tuesday
      </label>
      <label class="btn btn-primary">
        <%= radio_button_tag(:day, 3) %>Wednesday
      </label>
      <label class="btn btn-primary">
        <%= radio_button_tag(:day, 4) %>Thursday
      </label>
      <label class="btn btn-primary">
        <%= radio_button_tag(:day, 5) %>Friday
      </label>
      <label class="btn btn-primary">
        <%= radio_button_tag(:day, 6) %>Saturday
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label>Event Time</label>
    <%= f.text_field :event_time, class: 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <label>Event Type</label>
    <%= f.text_field :event_type, class: 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <label>Description</label>
    <%= f.text_area :description, size: 'x4', class: 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <input type="submit" value="<%= form_action[0].capitalize + form_action.slice(1..-1) %> Recurring Event" class="btn btn-primary">
  </fieldset>

<% end %>

</div>
