<div>
  <h1><%= @event.title %></h1>
  <h4><em>Recurring Event</em></h4>

  <div>
    Day of the Week: <%= @event.day %>
  </div>
  <div>
    Time: <%= @event.event_time %>
  </div>
  <div>
    Type: <%= @event.event_type %>
  </div>
  <div>
    Description: <%= @event.description %>
  </div>

  <%= link_to 'Edit Event', edit_recurring_event_path %>

  <%= render partial: 'stores/location' %>
</div>
