<!DOCTYPE html>
<html>
  <head>
    <title>d20 Legendary Tabletop Games</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'navbar', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render :partial => 'layouts/topbar' %>
    <% if current_page?(root_path) %>
      <%= yield %>
    <% else %>
      <div class="content_wrap">

        <div class="container">

          <%= yield %>
        </div>
      </div>
    <% end %>

  </body>
</html>
