<!DOCTYPE html>
<html>
  <head>
    <title>Clairemont Comics</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'navbar', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render :partial => 'layouts/topbar' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="content_wrap">

      <div class="container">

        <%= yield %>
      </div>
    </div>

    <!-- Yes... this should be in a partial... -->
    <div class="bottom_bar"" id="home-links">
      <div><%= link_to "Questions? Contact us!", stores_path %></div>
      <div>Typical store hours: 10am -- 8pm</div>
      <div>
        <a href="https://www.facebook.com/pages/Clairemont-Comics/117718421576761">
          <%= image_tag("badgefacebook.png", alt: "Find us on Facebook") %>
          <%# free image from create.net %>
        </a>
      </div>
    </div>
  </body>
</html>
